[user]
    name = AUTHOR_NAME
    email = AUTHOR_EMAIL
    signingkey = GPG_SIGNING_KEY
[github]
    user = AUTHOR_HANDLE
[credential]
    helper = GIT_CREDENTIAL_HELPER
[alias]
    st = status
    unstage = reset HEAD --
    staged = diff --staged
    graph = log --oneline --decorate --graph --all
    last = log -1 HEAD
    aliases = config ==get=regexp \"^alias\\.\"
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[core]
    editor = vim
[difftool]
    prompt = false
[mergetool]
    prompt = false
[push]
    default = upstream
[commit]
    gpgsign = true
[gpg]
    program = gpg2
